p{
    color: rgb(211, 210, 210);
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
color: rgb(78, 182, 147);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;


}

aside{

font-size: 20px;


}
 


li{
font-size: 15px;
font-family: sans-serif;

}


p{

text-align: justify;
padding: 20px;

}


h1{
text-align: center;



}



div{

background:#4b4b4b;
margin: 10%;
padding: 20px;
border: 3px solid rgb(12, 144, 116);
}

.imagen{

padding: auto;
margin: auto;
margin-bottom:20px;
margin-top: 30px;
width: 60%;
display: block;
}

li{
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
list-style: none;
display: inline-block;
padding: 10px;
}

nav{
    text-align: left;
}
 .menu{
background-color: #a5b1c2C8;
text-align: left;
 }

.seccion{

margin: 20px;

}



.seccion {
margin: 20px;
width: 65%;
border: 2px solid rgb(6, 153, 97);
float:left;

}

time {

    margin-left: 30px;
    font: bold;
color: rgb(211, 210, 210)

}

article{





}


.barra {
width: 25%;
border: 2px solid black;
float: left;
background: #a5b1c2C8;
margin-left: 40px;
margin-top: 30px;
display: block;
cursor: pointer;
}



.pie{
background-color: #2a2a2a;
padding: 20px;
text-align: center;
margin: auto;
clear: both;
color:rgb(211, 210, 210)
}




a{
text-decoration: none;
color: rgb(53, 52, 52);
display: flex;

}


body{

    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2320e3a9' fill-opacity='0.44'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

nav ul li a:hover {
border-bottom: 2px solid black;
opacity: .7;


}



nav ul  li {
cursor: pointer;


}

hr{

    margin: 10px;
}


aside h1{

color: rgb(111, 219, 196);

}


footer a{

color: rgb(169, 206, 192);

}

.boton{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    color: white;
    background-color: none;
    border: none;
    font-size: 35px;
    display: none;
    }

@media (max-width: 800px) {

body {
    background-color: rgb(54, 87, 97);
}
.menu .cosas  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  
   
  }

.menu .cosas li a {

    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 30px;
    color: #ccc;



}

.boton{
position: absolute;
cursor: pointer;
top: 15px;
right: 30px;
z-index: 2;
color: white;
background-color: none;
border: none;
font-size: 35px;
display: block;
}


.menu .cosas.show{

transform: translateX(-20px);


}







    
}














